---
---

@import "{{ site.theme }}";

$color-bg: #010101;
$primary-color: #FFCD00;
$secondary-color: #94a8b1;
$highlight-color: #7eff36;

$font-base: 1rem;
$font-small: .75rem;
$font-xsmall: .6rem;

html {
    font-size: 20px;
}

body {
    background-color: $color-bg;
    color: $secondary-color;
}

main.main-content h1, main.main-content h2, main.main-content h3, main.main-content h4, main.main-content h5, main.main-content h6 {
    color: $primary-color;
    margin-top: 1rem;
}

main.main-content h3 + h4, main.main-content h3 + h5 {
    margin-top: .2rem;
}

header.page-header {
    display: none;
}

a {
    color: $highlight-color;
}

footer.site-footer {
    border-top: solid 1px $secondary-color;
    font-size: $font-xsmall;
    padding-top: 1rem;
}

div.note {
    padding: 20px;
    color: white;
}

.main-content table th, .main-content table td {
    padding: .4rem;
    border: 1px solid $secondary-color;
}